html {
  font-size: 10px;
}

body {
  font: 1.6rem helvetica, sans-serif;
}

.heading {
  margin-bottom: 0;
  margin-top: 0;
}

.heading, .dropdown {
  text-align: center;
}

.heading, .dropdown-item:hover {
  background: #ed1d26;
}

.heading, .dropdown-item .dropdown-item:hover, .dropdown-item_link:hover > .dropdown-link {
  color: white;
}

.dropdown {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.dropdown-list {
  list-style: none;
  padding-left: 0;
}

.dropdown > .dropdown-list {
  margin-left: .2rem;
  margin-right: .2rem;
  width: 30rem;
}

.dropdown-item {
  background: #d3d3d3;
  transition: background-color .2s ease-in-out;
}

.dropdown-item, .dropdown-link {
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}

.dropdown > .dropdown-list > .dropdown-item {
  height: 2rem;
}

.dropdown-list .dropdown-list{
  display: none;
  text-align: left;
}

.dropdown > .dropdown-list > .dropdown-item > .dropdown-list:first-child {
  margin-top: 1.6rem;
}

.dropdown-item:hover > .dropdown-list, .dropdown-link {
  display: block;
}
  
.dropdown-item .dropdown-item {
  position: relative;
  transition: background-color .2s ease-in-out, color .2s ease-in;
}

.dropdown-item .dropdown-item, .dropdown-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-list .dropdown-list .dropdown-list {
  left: 100%;
  position: absolute;
  top: 0;
}

.dropdown-list .dropdown-list .dropdown-list, .dropdown-link {
  color: black;
}

.dropdown-item.dropdown-item_link {
  padding: 0;
}

.dropdown-link {
  text-decoration: none;
  transition: color .2s ease-in;
}
