html {
  font-size: 1vw;
}
body {
  font-size: 16px;
}

.handbook-topic, .handbook-subtopic {
  text-align: center;
}

.handbook-topic, .handbook-subtopic, .handbook-description, .handbook-example_div {
  font-size: 1.3rem;
}

.handbook-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

.handbook-block {
  border: .1rem solid #ddd;
  padding: .8rem;
  width: 22rem;
}

.handbook-block:nth-child(4) ~ .handbook-block {
  margin-top: 1.2rem;
}

.handbook-description {
  margin-top: 0;
}

.handbook-description, .handbook-example {
  margin-bottom: 0;
}

.handbook-code{
  font-size: 1rem;
}

.handbook-example_div {
  border: .1rem solid grey;
  color: blue;
}

.handbook-example_title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1024px) {

  html {
    font-size: 1.3vw;
  }

  .handbook-block {
    width: 36.5rem;
  }

  .handbook-block:nth-child(3),
  .handbook-block:nth-child(4) {
    margin-top: 1.2rem;
  }

}

@media only screen and (max-width: 768px) {

  html {
    font-size: 2.8vw;
  }

  .handbook-block {
    width: 100%;
  }

  .handbook-block:nth-child(2) {
    margin-top: 1.2rem;
  }

}
